/*** GENERICS ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.2rem;
}

img {
    width: 100%;
}

/*** UTILITIES ***/

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.button {
    border-radius: 13px;
    border-style: none;
    padding: 6px 10px;
    font-size: 0.7rem;
}



/*** CONTENT ***/


/* HEADER */
header {
    background-color: #0184fd;
    max-width: 100%;
    /* position: fixed; */
}

.container-header {
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    color: #fff;
}

.container-header img {
    width: 20%;
}

nav {
    display: none;
}

/* MAIN */

/* jumbotron */
#jumbotron {
    padding: 60px 30px;
}

.jumbotron-card {
    background-color: #b5dcff;
    color: #5a6e7f;
    align-items: center;
    justify-content: space-around;
    line-height: 25px;
    padding: 30px 30px 30px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
}

.jumbotron-card h3 {
    font-size: 1.6rem;
    color: #0c89fd;
    padding-bottom: 30px;
}

.jumbotron-card p {
    font-size: 1rem;
}

.jumbotron-card i {
    font-size: 5rem;
    color: #0c89fd;
    padding-bottom: 25px;
}


#jumbotron div:first-child {
    margin-top: 0;
    justify-content: space-between;
    padding-bottom: 0;
    text-align: left;
}

#jumbotron div:first-child i {
    font-size: 1rem;
    color: white;
    padding: 0 5px 0 0;
    vertical-align: middle;
}

#jumbotron div:first-child button {
    color: white;
    background-color: #0184fd;
    border-radius: 13px;
    border-style: none;
    padding: 6px 60px;
    font-size: 1rem;
    font-weight: bold;
    align-self: flex-start;
    margin: 25px 0;
}

#jumbotron div:first-child h3 {
    align-self: flex-start;
}




/*** RESPONSIVE ***/

/* TABLET */

/* MAIN */

/* jumbotron */
@media screen and (min-width: 480px) {
    header {}
}



/* DESKTOP */

/* header */
@media screen and (min-width: 768px) {

    .container-header {
        margin: 0 15%;
    }

    header .fa-solid {
        display: none;
    }

    .container-header img {
        width: 8%;
    }

    nav {
        display: inline-block;
    }

    nav ul {
        align-items: center;
    }

    nav ul li {
        list-style-type: none;
        font-size: 0.7rem;
    }

    nav ul li a {
        text-decoration-line: none;
        color: white;
        padding: 0 10px;
    }






}